extends ../layout/layout
 
block content
    .book-detail-container 
        //-book details
        .book-detail-header 
            img.book-detail-cover(src=`/images/${book.cover_image}`, alt=`${book.title}`)
            .book-detail-info 
                h1 #{book.title}
                
                //-bookmark tooltip 
                .bookmark-wrapper 
                    img.bookmark-icon( 
                        src=isBookmarked ? "/images/bookmark.svg" : "/images/bookmark-stroke.svg", 
                        alt="bookmark",  
                        data-bookid=book.book_id, 
                        data-loggedin=isLoggedIn ? "true" : "false",
                        class="bookmark-icon"
                    )
                    span.bookmark-tooltip 

                //- formats the published year string
                - const year = new Date(book.published_year).getFullYear()
                p Author: #{book.author} | Published: #{year}

                .book-description 
                    p #{book.summary}
        
        //-book rating and review functions
        .book-rating-review
            .rating-block 
                h3 Rate
                .rating-detail-stars(data-bookid=book.book_id)
                    each star in [1,2,3,4,5]
                        img.star(data-value=star src="/images/rate-stroke.svg" alt="star")
            .review-block 
                .review-title 
                    h3 Leave a review 
                    img.write-icon( src="/images/feather-pen.svg" alt= "feather pen")
                
                form.review-form(method="POST", action="/submit-review" data-loggedin=isLoggedIn)
                    input(type="hidden", name="book_id", value=book.book_id) 

                    h4 When did you read this book?

                    .read-date-options 
                        button(type="button", id="read-now") I read it today 
                        button(type="button", id="read-past") I have read this before 
                
                    input(type="date", id="read-date", name="user_read_date", max=new Date().toISOString().split('T')[0], style="display:none")

                    textarea(id="review-text" name="review_content", placeholder="Add a review, no spoilers please...", required)

                    button(type="submit", id="submit-review", data-bookid=book.book_id) Submit

                    p#review-msg 


        //-reviews section
        .review-section 
            h3 Read what others are saying about:  #{book.title}
            each review in reviews 
                .review 
                    strong #{review.username}
                    .rating-detail-stars-static 
                        - for (let i = 1; i <= 5; i++)
                            if i <= review.rating
                                img.star(src="/images/rate-star.svg" alt="filled star")
                            else
                                img.star(src="/images/rate-stroke.svg" alt="filled star")

                    span.date Read on: #{new Date(review.created_at).toLocaleDateString()}
                    p #{review.review_content}