extends ../layout/layout

block content 
  main(class="home-page")
    section(class="book-section")
      h2 Search Results for "#{query}"

      if books.length === 0
        p(class="text-400") No books found matching your search.
      else
        .book-carousel
          each book in books
            .book-card
              a(href=`/book/${book.book_id}`)
                img.book-cover(src=`/images/${book.cover_image}` alt=book.title)
                //More book info
                //.book-info
                //  h3= book.title
                //  p.text-400 Author: #{book.author}
